<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authors</title>
    <th:block th:replace="~{fragments/fragments :: style}"></th:block>
  </head>
  <body class="bg-gray-50 text-gray-800 dark:text-gray-200 dark:bg-gray-900">
    <header th:replace="~{fragments/fragments :: header}"></header>

    <main class="mx-auto site-max px-4 py-10">

      <form id="author-form" th:object="${author}" th:action="@{/authors/edit/{id}(id=${author.id})}" method="post">

        <h1 class="text-4xl my-3">Edit: [[${author.name}]]</h1>

        <div class="mb-4">
          <label for="name" class="block text-sm font-medium">Name</label>
          <input th:field="*{name}" th:errorclass="border-red-500" type="text" id="name" name="name" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 text-black" required />
         <div th:if="${#fields.hasErrors('name')}" class="mt-1 text-sm text-red-600">
            <ul>
                <li th:each="error : ${#fields.errors('name')}" th:text="${error}"></li>
            </ul>
        </div>

        <div class="flex gap-4 mt-4">
            <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              Save
            </button>
        </div>
      </form>
    </main>

    <th:block th:replace="~{fragments/fragments :: footer}"></th:block>
  </body>
</html>
