<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <th:block th:replace="~{fragments/fragments :: style}"></th:block>
  </head>
  <body class="bg-gray-50 text-gray-800 dark:text-gray-200 dark:bg-gray-900">
    <header th:replace="~{fragments/fragments :: header}"></header>

    <main class="mx-auto site-max px-4 py-10">
      <div class="mb-8 flex items-center justify-center">
        <h1 class="text-4xl font-bold">
           Home
        </h1>
      </div>

      <div class="pt-10 text-justify text-4xl">
        Song-lib - Organize your favorite songs in one place.
      </div>

      <!-- <div class="mt-10">
        <a
          th:href="@{/}"
          class="inline-block rounded bg-indigo-600 px-4 py-2 text-white"
          >Go to</a
        >
      </div> -->
    </main>

    <th:block th:replace="~{fragments/fragments :: footer}"></th:block>
  </body>
</html>
