<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Songs</title>
    <th:block th:replace="~{fragments/fragments :: style}"></th:block>
  </head>
  <body class="bg-gray-50 text-gray-800 dark:text-gray-200 dark:bg-gray-900">
    <header th:replace="~{fragments/fragments :: header}"></header>

    <main class="mx-auto site-max px-4 py-10">
      <div class="mb-8 flex items-center justify-center">
        <h1 class="text-4xl font-bold">
           Songs
        </h1>
      </div>

      <div class="flex justify-between items-center mb-6">
        <form th:action="@{/songs}" method="get">
          <input th:value="${searchQuery}" name="title" class="my-10 me-2" type="text" placeholder="Search songs..." />
          <button id="search-button" type="submit">Search</button>
        </form>
        <a
          th:href="@{/songs/create}"
          class="p-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        >Create Song</a>
      </div>

      <div class="w-full flex flex-col gap-4">
        <table th:if="${songs.size() > 0}">
          <thead>
            <tr class="border-b border-gray-300 dark:border-gray-700">
              <th class="text-left py-2 px-4">Title</th>
              <th class="text-left py-2 px-4">Cover</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              th:each="song : ${songs}"
              th:object="${song}"
              class="border-b border-gray-200 dark:border-gray-800 hover:bg-gray-100 dark:hover:bg-gray-800"
            >
              <td class="py-2 px-4" th:text="*{title}">Song Title</td>
              <td class="py-2 px-4" th:text="*{cover}">Cover</td>
              <td>
                <a th:href="@{/songs/{id}(id=${song.id})}" class="font-bold hover:text-indigo-500">Show</a>
              </td>
              <td>
                <a th:href="@{/songs/edit/{id}(id=${song.id})}" class="font-bold hover:text-indigo-500">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>

        <p th:unless="${songs.size() > 0}">No songs found...</p>
      </div>
    </main>

    <th:block th:replace="~{fragments/fragments :: footer}"></th:block>
  </body>
</html>
